$color-white: #fff;
$color-black: #000;
$color-grey-light1: #f7f7f7;
$color-grey-light2: #eee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
//GRID
$grid-width: 32rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

//font-size
$default-font-size: 1.6rem;
