/* UNIVERSAL SELECTOR */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is //
  font-size: 68%; // 1rem = 11.2px;


  @include respond(tab-port) {
    font-size: 56.25%; // 1rem = 9px
  }
}

body {
  box-sizing: border-box;


}
